*{
    margin:0px;
    padding:0px;
}

.head{
    font-family: segoe ui light;
    font-size:30px;
    color:rgb(172, 99, 111);
    background-color:#eee;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100px;
    font-weight: bold;
}

.container{
    display:flex;
    width:100%;
}

.container .left{
    width:200px; 
    flex-shrink: 0;
}
.container .left a{
    text-decoration: none;
    color:rgb(168, 83, 83);
    font-family: segoe ui light;
    font-size:25px;
    font-weight: bold;
    display: block;
    height:40px;
    padding:5px;
    background-color:#eee;
    margin-top:5px;
    text-transform:capitalize;
    text-align: center;
}

.container .center{
    margin-top:5px;
    flex-grow:1;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 1 item */
.center .item{
    width:200px;
    margin:0px 8px;
}
.center .item a{
    width:100%;
    text-decoration:none;
    color:#606060;
    text-transform: capitalize;
}
.center .item a img{
    width:100%;
    flex-shrink:0;
    float: left;
}
.view{
    font-size: 13px;
}
.content{
    color:black;
    padding:3px 0px;
}
.container .right{
    width:200px;
    flex-shrink: 0;
}
.container .right .about{
    margin-top:5px;
    color:rgb(172, 99, 111);
    font-family: segoe ui light;
    font-size:20px;
    background-color:#eee;
}
.footer{
    margin-top:8px;
    padding:8px;
    color:rgb(172, 99, 111);
    font-family: segoe ui light;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
}

/* reponsive  */
@media only screen and (max-width:620px){
    .container{
        display:block;
        
    }
    .left{
        width:100% !important;
    }
    .right{
        width:100% !important;
        text-align: center;
    }
    .center{
        width:100%;
        flex-direction: column;
    }
    .center .item{
        width:100%;
    }
    
   
    
    

}